.personal-info-container {
  display: flex;
  align-items: center;
}
.personal-picture {
  position: relative;
}
.social-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: -2px;
  background-color: #ffffff;
}
.social-links a {
  background-color: #678abe;
  color: #ffffff;
  font-size: 13px;
  padding: 8px 10px;
  margin: 6px 6px 6px 0;
}
.social-links .facebook-link {
  margin-bottom: 0;
}
.personal-basic-info h3 {
  font-weight: 600;
  font-size: 30px;
  margin: 0 0 10px;
  color: #090a0c;
}
.personal-job-title {
  color: #090a0c;
  font-weight: 400;
  margin: 0 0 20px;
}
.personal-job-title span {
  color: #678abe;
}
.person-self-introduction {
  margin-bottom: 10px;
}
.other-info-container {
  display: flex;
  padding-top: 10px;
}
.info-data {
  padding: 6px 0;
  line-height: normal;
  display: flex;
  align-items: flex-start;
}
.other-info-col-1 div span:first-child,
.other-info-col-2 div span:first-child {
  margin-right: 3px;
  color: #090a0c;
  font-weight: 500;
  font-size: 14px;
  border-right: 1px solid #c1c1c1;
  flex: 0 0 90px;
}
.other-info-col-1 div span:last-child,
.other-info-col-2 div span:last-child {
  margin-bottom: 0;
  padding-left: 15px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.cv-download-btn {
  margin-top: 30px;
}
@media screen and (min-width: 1280px) {
  .personal-picture {
    flex: 0 0 30%;
    border: 13px solid #ffffff;
    border-radius: 5px;
  }
  .personal-picture img {
    width: 100%;
  }
  .personal-basic-info {
    flex: 0 0 70%;
    padding-left: 64px;
  }

  .other-info-col-1,
  .other-info-col-2 {
    flex: 0 0 50%;
  }
}
@media screen and (max-width: 1279px) {
  .personal-info-container {
    flex-direction: column;
    align-items: center;
  }
  .personal-picture {
    width: 70%;
    border: 13px solid #ffffff;
    border-radius: 5px;
  }
  .personal-picture img {
    width: 100%;
  }
  .personal-basic-info h3 {
    margin-top: 30px;
  }
}
