.contact-info-container {
  display: flex;
  justify-content: center;
}
form {
  flex: 0 0 60%;
  background-color: #f4f4f6;
  padding: 4% 5%;
  border-radius: 5px;
  box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.1);
}
fieldset {
  border: none;
}
fieldset legend {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #090a0c;
  margin-bottom: 20px;
}
.contact-info-container .input-field {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  position: relative;
}
.input-field span {
  position: absolute;
  bottom: -1px;
}
.contact-info-container input,
.contact-info-container textarea {
  background-color: #f4f4f6;
  border: none;
  width: 100%;
  font-size: 14px;
  padding: 6px 12px;
}
.contact-info-container input + span,
.contact-info-container textarea + span {
  display: block;
  width: 0;
  height: 1px;
  background-color: #678abe;
  transition: width 400ms ease-in-out;
}
.contact-info-container input:focus + span,
.contact-info-container textarea:focus + span {
  width: 100%;
}

.contact-info-container textarea {
  padding: 10px 12px;
}
.contact-info-container input:focus,
.contact-info-container textarea:focus {
  outline: none;
}
.contact-msg-btn {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}
.contact-cards-container {
  flex: 0 0 calc(40% - 30px);
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-card {
  background-color: #f4f4f6;
  display: flex;
  padding: 20px;
  align-items: center;
  box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.1);
}
.contact-card:not(:last-child) {
  margin-bottom: 20px;
}
.contact-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #678abe;
  text-align: center;
  line-height: 40px;
  font-size: 19px;
  margin-right: 20px;
}
.contact-datails h4 {
  font-size: 15px;
  font-weight: 500;
  color: #090a0c;
  margin-bottom: 8px;
  letter-spacing: 0;
}
.contact-datails p {
  font-size: 14px;
}
footer {
  padding: 12px 112px;
  background: #111;
}
.footer-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.contact-links a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin-right: 10px;
}
.contact-links a:hover {
  color: #ffffff;
}
.footer-container p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  margin: 0;
}
@media screen and (max-width: 1279px) {
  .contact-info-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form,
  .contact-cards-container {
    margin: 0;
    width: 90%;
  }
  .contact-cards-container {
    margin-top: 20px;
  }
}
