* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #555a64;
  font-weight: 400;
  line-height: 1.6;
}
a {
  text-decoration: none;
}
button {
  border-style: solid;
  background: #678abe;
  border-color: #678abe;
  border-radius: 3.2px;
  padding: 13px 24px;
  margin-top: 8px;
}
button a {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}
section {
  padding: 104px 112px;
}
section:nth-child(even) {
  background-color: #eaedf2;
}
section:nth-child(odd) {
  background-color: #fff;
}
.section-container {
  max-width: 1140px;
  margin: 0 auto;
}
h1 {
  color: #090a0c;
}
h2 {
  color: #090a0c;
  font-weight: 700;
  font-size: 35px;
  margin: 0 0 10px;
  position: relative;
}
h2:after {
  position: absolute;
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #678abe;
}
.job-title {
  margin-bottom: 40px;
}
h4 {
  margin: 0;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #555a64;
}
