header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  padding: 0 112px;
  background-color: #ffffff;
  height: 56px;
  color: #090a0c;
}
.header-container {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.name {
  font-size: 24px;
  font-weight: 600;
}

.navigation-item .nav-page-link {
  font-size: 13px;
  font-weight: 500;
  color: #090a0c;
  text-transform: uppercase;
}
.navigation-item:hover .nav-page-link {
  color: #678abe;
}
.nav-toggle-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #678abe;
}

.nav-toggle-btn div {
  width: 22.4px;
  height: 2px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .nav-toggle-btn {
    display: none;
  }
  .navigation-items-list {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
  }
  .navigation-item {
    margin-left: 16px;
  }
}
@media screen and (max-width: 767px) {
  .header-container {
    position: relative;
  }
  .navigation-items-list.active {
    padding: 8px 15px;
    border: 1px solid #ddd;
    background: #ffffff;
    list-style: none;
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
  }
  .navigation-items-list.inactive {
    display: none;
  }
  .navigation-item:not(:first-child) {
    border-top: 1px solid #ddd;
  }
  .navigation-item .nav-page-link {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.56px;
    color: #090a0c;
  }
}
