.home-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.home-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.introduce-summary,
.person-image {
  flex: 0 0 50%;
}
.introduce-summary p,
.introduce-summary h1,
.introduce-summary h3,
.introduce-summary .job-summary {
  margin-bottom: 16px;
}
.introduce-summary p {
  font-weight: 500;
  font-size: 14px;
}
.introduce-summary h1 {
  font-size: 36px;
  font-weight: 600;
}
.introduce-summary h3 {
  color: #090a0c;
  font-size: 17px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(33) infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.introduce-summary p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(9, 10, 12, 0.8);
}
.introduce-summary .greeting {
  color: #090a0c;
}
.person-image img {
  max-width: 100%;
}
.hire-btn {
  margin-left: 8px;

  background-color: #ffffff;
}
.hire-btn a {
  color: #678abe;
}
.hire-btn:hover a {
  color: #ffffff;
}
.slider {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.slider a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #678abe;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  animation: bounce 0.8s infinite alternate;
}
@keyframes bounce {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, -13px);
  }
}
@media screen and (max-width: 767px) {
  .home-section-container {
    flex-direction: column;
    align-items: center;
    padding: 64px 32px;
  }
  .home-section-container img {
    margin-top: 32px;
  }
}
