.skills-container {
  display: flex;
}
.skill-item {
  list-style: none;
}
.skill-item:not(:first-child) {
  margin-top: 30px;
}
.skill-item h6 {
  font-size: 16px;
  margin: 0 0 10px;
  color: #090a0c;
  font-weight: 500;
  line-height: 1.2;
}
.progress-container {
  background-color: #eee;
}
.progress-bar {
  height: 5px;
  background-color: #678abe;
  position: relative;
}
.progress-value {
  position: absolute;
  top: -30px;
  right: 0;
  font-size: 14px;
}
.achievements-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.achievement-item-container {
  margin-top: 15px;
  margin-bottom: 15px;
  flex: 0 0 50%;
  padding-right: 15px;
  padding-left: 15px;
  min-width: 0;
}
.achievement-item {
  padding: 18px 15px;
  border-radius: 5px;
  background: #ffffff;
  border: 2px solid #678abe;
  box-shadow: 0px 30px 60px 0px rgba(38, 59, 94, 0.1);
  display: flex;
  align-items: center;
}
.achievement-item i {
  font-size: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #678abe;
}
.achievement-item p {
  flex: 1;
  margin: 0;
  font-size: 16px;
  color: #090a0c;
  font-weight: 500;
  line-height: 1.2;
}
@media screen and (max-width: 1279px) {
  .skills-container {
    flex-direction: column;
    justify-content: center;
    width: 88%;
    margin: 0 auto;
  }

  .achievements-container {
    margin-top: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .skills-container {
    justify-content: space-between;
  }
  .skill-items-container {
    flex: 0 0 50%;
  }
  .achievements-container {
    flex: 0 0 40%;
  }
}
